.raleway-font {
    font-family: "Raleway", sans-serif;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

/* banner section */
/* 
.banner {
    background-image: url(images/banner.png);
    height: 72vh;
    width: fit-content;
} */